<%= form_for(@viagem) do |f| %>
  <% if @viagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@viagem.errors.count, "error") %> prohibited this viagem from being saved:</h2>

      <ul>
      <% @viagem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">

      <div id="control_panel" class="col-md-3">
        <div class="field">
          <%= f.label "Data" %><br>
          <%= f.text_field :date, {class: "form-control"} %>
        </div>
        <div class="field">
          <%= f.label "Rota" %><br>
          <%= f.collection_select :rot_id, Rot.all, :id, :nome, {prompt: "Select One"}, {class: "form-control"} %>
        </div>
        <div class="field">
          <%= f.label "Veículo" %><br>
          <%= f.collection_select :veiculo_id, Veiculo.all, :id, :marca, {prompt: "Select One"}, {class: "form-control"} %>
        </div>
        <div class="actions">
          <%= f.submit class: "btn btn-primary btn-block" %>
        </div>
      </div>

      <div id="map-canvas" style="height:500px;" class="col-md-9"></div>
    </div>


<% end %>
