<%= form_for(@viagem) do |f| %>
  <% if @viagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@viagem.errors.count, "error") %> prohibited this viagem from being saved:</h2>

      <ul>
      <% @viagem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tbody>
    <td>
      <div id="control_panel">
        <div class="field">
          <%= f.label :date %><br>
          <%= f.text_field :date %>
        </div>
        <div class="field">
          <%= f.label "Rota" %><br>
          <%= f.collection_select :rot_id, Rot.all, :id, :nome, :prompt => "Select One", class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :veiculo %><br>
          <%= f.collection_select :veiculo_id, Veiculo.all, :id, :marca, :prompt => "Select One", class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
    </td>
    <td>
      <div id="map-canvas" style="width:800px;height:600px;"></div>
    </td>
  </tbody>
</table>

  
<% end %>
