<h1 class="page-header">Viagens</h1>

<div class="well">
   <%= link_to 'Nova Viagem', new_viagem_path, class: "btn btn-primary" %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Viagem</th>
      <th>Data</th>
      <th>Veículo</th>
      <th>Origem</th>
      <th>Destino</th>
      <th style="width:140px;">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @viagems.each do |viagem| %>
      <tr>
        <td><%= viagem.rot.nome %></td>
        <td><%= viagem.date %></td>
        <td><%= viagem.veiculo.marca %></td>
        <td><%= viagem.rot.origem %></td>
        <td><%= viagem.rot.destino %></td>
        <td>
            <%= link_to 'Editar', edit_viagem_path(viagem) %>
            <%= link_to 'Remover', viagem, method: :delete, data: { confirm: 'Você tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
