<h1>Lista de Viagens</h1>

<div class="well">
   <%= link_to 'Nova Viagem', new_viagem_path, class: "btn btn-primary" %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Viagem</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @viagems.each do |viagem| %>
      <tr>
        <td><%= viagem.nome %></td>
        <td><%= link_to 'Show', viagem %></td>
        <td><%= link_to 'Edit', edit_viagem_path(viagem) %></td>
        <td><%= link_to 'Destroy', viagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>