<h1>Listing viagems</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @viagems.each do |viagem| %>
      <tr>
        <td><%= viagem.date %></td>
        <td><%= link_to 'Show', viagem %></td>
        <td><%= link_to 'Edit', edit_viagem_path(viagem) %></td>
        <td><%= link_to 'Destroy', viagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Viagem', new_viagem_path %>
