<%= form_for(@ponto) do |f| %>
  <% if @ponto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ponto.errors.count, "error") %> prohibited this ponto from being saved:</h2>

      <ul>
      <% @ponto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
