<h1>Listing pontos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pontos.each do |ponto| %>
      <tr>
        <td><%= ponto.nome %></td>
        <td><%= link_to 'Show', ponto %></td>
        <td><%= link_to 'Edit', edit_ponto_path(ponto) %></td>
        <td><%= link_to 'Destroy', ponto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ponto', new_ponto_path %>
