<%= form_for(@rot) do |f| %>
  <% if @rot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rot.errors.count, "error") %> prohibited this rot from being saved:</h2>

      <ul>
      <% @rot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">

      <div id="control_panel" class="col-md-3">
        <div class="field">
          <%= f.label :nome %><br>
          <%= f.text_field :nome, {class: "form-control"} %>
        </div>
        <div class="field">
          <%= f.label :origem %><br>
          <%= f.text_field :origem, {class: "form-control"} %>
        </div>

        <div class="field">
          <%= f.label :destino %><br>
          <%= f.text_field :destino, {class: "form-control"} %>
        </div>

        <div class="field">
            <label>Pontos de Passagem</label>
            <%= link_to 'Adicionar Ponto de Passagem', '#', :id => 'add-to-passagems-list',:class => "btn btn-success btn-block btn-xs" %>
        </div>
        <div id="passagems-list"></div>
        <div id="fields-for-passagems-list" class="numerous">
          <%= f.fields_for :ponto_passagems, PontoPassagem.new, :child_index => 'replace_this' do |u| %>

            <div class="field">
              <%= u.text_field :ponto, {class: "form-control, pontos"} %>
              <%= link_to 'Rem', '#', :class => 'btn btn-default numerous-remove' %>
            </div>

          <% end %>
        </div>
        <div class='fields-for-passagems-list'>
          <%= f.fields_for :ponto_passagems do |u| %>

            <div class="field">
              <%= u.text_field :ponto, {class: "form-control, pontos"} %>
              <%= link_to 'Rem', '#', :class => 'btn btn-default numerous-remove' %>
            </div>

          <% end %>
        </div>

        <div class="actions">
          <%= f.submit class: "btn btn-primary btn-block" %>
        </div>
      </div>

      <div id="map-canvas" style="height:500px;" class="col-md-9"></div>
  </div>
<% end %>
