<%= form_for(@rot) do |f| %>
  <% if @rot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rot.errors.count, "error") %> prohibited this rot from being saved:</h2>

      <ul>
      <% @rot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tbody>
    <td>
      <div id="control_panel">
        <div class="field">
          <%= f.label :nome %><br>
          <%= f.text_field :nome %>
        </div>
        <div class="field">
          <%= f.label :origem %><br>
          <%= f.collection_select :origem_id, Ponto.all, :id, :nome, :prompt => "Select One", class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :destino %><br>
          <%= f.collection_select :destino_id, Ponto.all, :id, :nome, :prompt => "Select One", class: "form-control" %>
        </div>
        <div id="ponto-passagems-list"></div>
        <div id="fields-for-ponto-passagems-list" class="numerous">
          <%= f.fields_for :ponto_passagems, PontoPassagem.new, :child_index => 'replace_this' do |u| %>

            <div class="field">
              <%= u.label :ponto_id %><br />
              <%= u.collection_select :ponto_id, Ponto.all, :id, :nome, :prompt => "Select One", class: "form-control" %>
            </div>

            <%= link_to 'Remover Ponto Passagem', '#', :class => 'numerous-remove' %>
          <% end %>
        </div>
        <div class='fields-for-ponto-passagems-list'>
          <%= f.fields_for :ponto_passagems do |u| %>
          
            <div class="field">
              <%= u.label :ponto_id %><br />
              <%= u.collection_select :ponto_id, Ponto.all, :id, :nome, :prompt => "Select One", class: "form-control" %>
            </div>

            <%= link_to 'Remover Ponto Passagem', '#', :class => 'numerous-remove' %>
          <% end %>
        </div>

        <%= link_to 'Add Ponto Passagem', '#', :id => 'add-to-ponto-passagems-list' %>

        <div class="actions">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      </div>
    </td>
    <td>
      <div id="map-canvas" style="width:800px;height:600px;"></div>
    </td>
  </tbody>
</table>
<% end %>
