<h1>Lista de Rotas</h1>

<div class="well">
   <%= link_to 'Nova Rota', new_rot_path, class: "btn btn-primary" %>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
       <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @rots.each do |rot| %>
      <tr>
        <td><%= rot.nome %></td>
        <td><%= link_to 'Show', rot %></td>
        <td><%= link_to 'Edit', edit_rot_path(rot) %></td>
        <td><%= link_to 'Destroy', rot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>