<h1 class="page-header">Rotas</h1>

<div class="well">
   <%= link_to 'Nova Rota', new_rot_path, class: "btn btn-primary" %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Origem</th>
      <th>Destino</th>
       <th style="width:140px;">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @rots.each do |rot| %>
      <tr>
        <td><%= rot.nome %></td>
        <td><%= rot.origem %></td>
        <td><%= rot.destino %></td>
        <td>
            <%= link_to 'Editar', edit_rot_path(rot) %>
            <%= link_to 'Remover', rot, method: :delete, data: { confirm: 'Você tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
