<!DOCTYPE html>
<html>
<head>
  <title>Tccr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-tabs">
  <li <% if request.original_fullpath == '/' %> class="active" <% end %>><a href="/">Inicio</a></li>
  <li <% if request.original_fullpath.include?'/viagems' %> class="active" <% end %>><%= link_to 'Viagems', viagems_path %></li>
  <li <% if request.original_fullpath.include?'/rots' %> class="active" <% end %>><%= link_to 'Rotas', rots_path %></li>
</ul>

<div class="container">
	<%= yield %>
</div>


</body>
</html>
